.btn-success:hover{
    background-color: wheat;
}

body {
    background-size: cover;
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 50px;
}

@keyframes example {
    from {box-shadow: 2px 2px 32px purple;}
    to {box-shadow: 2px 2px 32px palegreen;}
}

#header {
    font-size: 34px;
    color: brown;
    text-decoration: underline wavy;
}

